.main-container {
  width: 500px;
  height: 800px;
  margin: auto;
}

nav {
  display: flex;
}

.input-container {
  position: relative;
  width: 500px;
}

.input-text {
  width: 100%;
  height: 50px;
  font-size: 32px;

}

.input-select {
  position: absolute;
  right: 0;
  width: 100px;
  height: 40px;
  top: 8px;
}

.input-enviar {
  width: 150px;
  height: 55px;
  background-color: #3498DB;
  margin-left: 10px;
  text-align: center;
  line-height: 55px;
  color: #f1f1f1;
  cursor: pointer;
  border-radius: 5px;
}

.feed-container {
  height: 500px;
  width: 100%;
  margin-top: 20px;
}

.publication-container {
  display: flex;
  height: 70px;
  border: 1px solid #333;
  align-items: center;
  margin-top: 20px;
  background-color: pink;
  
}

.publication-container div {
  width: 50%;
  text-align: center;
}
